/*Zerar margem*/
body{
    margin:0; 
    font-family: Arial, Helvetica, sans-serif;  
    background: linear-gradient( rgb(255, 250, 181), rgb(243, 230, 115), rgb(136, 128, 52));
}
/*Cor do cabeçalho*/
header{
    background-color: rgb(0, 0, 0)
}
/*Tamanho do logo, posicionamento*/
.logo{
    width: 12%;
    padding: 10px 0 20px 5%;
}
/*Cor do menu, posição, tamanho da fonte, tipo de fonte*/
nav{
    color: rgb(209, 192, 37);
    position: absolute;
    top: 20%;
    right: 5%;
    font-size: 30px;
    font-family: cursive;
}
/*escrita em fileira, longe de 30px da margem*/
nav li{
    display: inline;
    margin-right: 30px;
}

.divHeader{
    position: relative;
}
/*Altura, largura, reparo do objeto*/
.ban{
    width: 100%;
    height: auto;
  
}
/*Estilização de títulos*/
.titulos {
    text-align: center;
    color: rgb(26, 27, 4);
}


.titulos3 {      
    float: center;
    margin-right: 10%;
    color: rgb(26, 27, 4); 
    font-size:large;
}    
.sobrenos{
    width: 60%;
    text-align: justify;
    line-height: 1.5;
    margin-left: 20%;
}
.imgsobrenos{
    
    width: 18%;
    float: left;
    margin-right: 2%;
    border-radius: 5%;
}
.titulosobrenos{
    
    clear: left;
}
/*Estilização da sessão NOSSO ESTABELECIMENTO*/
.mapa{
    text-align: center;
    
}
.titulosmap {
    text-align: center;
    color: rgb(52, 53, 2);  
}
/*imagem do div*/
.img2{
    width: 10%;
    float: right;
    margin-right: 35%;
    border-radius: 5%;
}
.titulosprod {
    text-align: left;
    margin-left: 35%;
    font-size: 18;
    color: rgb(26, 27, 4);
}

/*Sessao vídeo*/
.video{
    text-align: center;
    background-color: linear;
}
footer{
    padding: 30px 10px 10px 0px;
    background: url("../img/kleberbanner.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    background-color: rgb(31, 29, 29);
}
.logo_footer{
    width:15%;
}